.hero{
display:flex;
justify-content:space-between;
align-items:center;
padding:0 8%;
min-height:100vh;
background:#050816;
overflow:hidden;
position:relative;
}

.hero::before{
content:"";
position:absolute;
width:600px;
height:600px;
right:-100px;
top:50%;
transform:translateY(-50%);
background:radial-gradient(
circle,
rgba(125,249,255,.15),
transparent 70%
);

filter:blur(40px);
}

.hero-left{
width:45%;
z-index:2;
}

.intro{
color:#7DF9FF;
font-size:22px;
margin-bottom:20px;
}

.hero h1{

font-size:140px;
font-weight:800;
line-height:.9;
letter-spacing:-5px;

}

.hero h1 span{

background:linear-gradient(
90deg,
#7DF9FF,
#B6B6FF
);

-webkit-background-clip:text;
color:transparent;

}

.badge{
display:inline-block;
margin-top:30px;
padding:12px 24px;

border-radius:40px;

background:rgba(255,255,255,.03);

border:1px solid rgba(255,255,255,.1);

backdrop-filter:blur(20px);
}

.description{

margin-top:35px;
font-size:28px;
line-height:1.6;
color:#bdbdbd;
max-width:550px;

}

.hero-buttons{

display:flex;
gap:20px;
margin-top:45px;

}

.primary{

padding:18px 35px;

border:none;
border-radius:16px;

background:linear-gradient(
90deg,
#7DF9FF,
#B6B6FF
);

font-size:18px;
cursor:pointer;
}

.secondary{

padding:18px 35px;

background:transparent;

border:1px solid rgba(255,255,255,.1);

border-radius:16px;

color:white;
cursor:pointer;
}

.hero-right{
width:50%;
display:flex;
justify-content:center;
position:relative;
}

.workspace{

width:650px;
height:650px;
position:relative;

display:flex;
justify-content:center;
align-items:center;

}

.workspace::before{

content:"";

position:absolute;

width:520px;
height:520px;

border-radius:50%;

background:radial-gradient(
circle,
rgba(125,249,255,.18),
transparent
);

}

.laptop{

width:360px;
height:220px;

background:linear-gradient(
145deg,
#0c0c0c,
#1a1a1a
);

border-radius:20px;

box-shadow:

0 0 40px rgba(125,249,255,.25),
0 0 80px rgba(125,249,255,.1);

transform:

perspective(1000px)
rotateX(15deg);

position:relative;

}

.laptop::after{

content:"";

position:absolute;

width:420px;
height:15px;

background:#444;

bottom:-25px;
left:-30px;

border-radius:20px;

}

.floating{

position:absolute;

padding:15px 22px;

background:rgba(255,255,255,.05);

backdrop-filter:blur(20px);

border:1px solid rgba(255,255,255,.08);

border-radius:18px;

animation:float 5s infinite ease-in-out;

}

.java{

top:15%;
left:15%;
}

.spring{

top:18%;
right:10%;
}

.docker{

bottom:18%;
left:8%;
}

.postgres{

bottom:15%;
right:10%;
}

@keyframes float{

50%{
transform:translateY(-18px)
}

}

.ai{

top:50%;
right:0;

}