.tech{

padding:100px 8%;
background:#050816;
text-align:center;

}

.tech h2{

font-size:42px;
margin-bottom:60px;

}

.orbit-container{

position:relative;

height:600px;

display:flex;
justify-content:center;
align-items:center;

}

.center-circle{

height:150px;
width:150px;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

font-size:24px;
font-weight:bold;

background:

linear-gradient(
145deg,
#7DF9FF,
#B6B6FF
);

color:black;

box-shadow:

0 0 50px
rgba(125,249,255,.4);

z-index:5;

}

.orbit-item{

position:absolute;

padding:15px 25px;

border-radius:25px;

background:

rgba(255,255,255,.04);

border:

1px solid rgba(255,255,255,.1);

backdrop-filter:blur(15px);

animation:
rotate 20s linear infinite;

}

.item0{transform:translate(250px);}
.item1{transform:translate(-250px);}
.item2{transform:translateY(250px);}
.item3{transform:translateY(-250px);}
.item4{transform:translate(180px,180px);}
.item5{transform:translate(-180px,-180px);}
.item6{transform:translate(180px,-180px);}
.item7{transform:translate(-180px,180px);}

@keyframes rotate{

50%{

transform:
translateY(-20px);

}

}