.experience{

padding:100px 8%;
background:#050816;

}

.experience-container{

display:grid;
grid-template-columns:

1fr 2fr 1fr;

background:

rgba(255,255,255,.03);

border:

1px solid rgba(255,255,255,.08);

backdrop-filter:

blur(20px);

border-radius:30px;

padding:50px;

}

.avatar{

height:250px;
width:250px;

border-radius:30px;

display:flex;
justify-content:center;
align-items:center;

font-size:100px;

background:

linear-gradient(
145deg,
#0c0c0c,
#111
);

box-shadow:

0 0 30px rgba(125,249,255,.15);

}

.company{

font-size:30px;
font-weight:bold;
color:#7DF9FF;

}

.status{

margin-left:20px;

padding:6px 15px;

font-size:14px;

border-radius:20px;

background:#10251e;

}

.details h2{

margin-top:20px;

font-size:32px;

}

.details h4{

margin-top:10px;
color:#aaa;

}

.details ul{

margin-top:25px;

}

.details li{

margin-bottom:20px;
color:#ccc;

}

.timeline{

display:flex;
flex-direction:column;
align-items:center;

}

.point{

padding:15px;
border-radius:20px;

background:

rgba(255,255,255,.04);

margin:10px;

}

.active{

border:1px solid #7DF9FF;

}

.line{

height:60px;
width:2px;
background:#333;

}

.exp-title{

font-size:42px;
margin-bottom:60px;

}

.profile-card{

position:relative;

display:flex;
flex-direction:column;
align-items:center;

padding:30px;

background:
rgba(255,255,255,.03);

border:
1px solid rgba(255,255,255,.08);

border-radius:30px;

overflow:hidden;

}

.profile-card img{

width:160px;
height:160px;

border-radius:50%;

object-fit:cover;

z-index:2;

}

.profile-card h3{

margin-top:20px;

}

.profile-card p{

color:#aaa;

}

.profile-glow{

position:absolute;

width:250px;
height:250px;

background:

radial-gradient(
circle,
rgba(125,249,255,.25),
transparent
);

filter:blur(40px);

}

.milestone{

padding:18px;

border-radius:20px;

background:
rgba(255,255,255,.04);

margin:10px;

width:120px;

text-align:center;

}

.milestone p{

margin-top:10px;

font-size:13px;

color:#aaa;

}

.active{

border:1px solid #7DF9FF;

box-shadow:
0 0 20px rgba(125,249,255,.2);

}

.experience-avatar{

height:160px;
width:160px;

border-radius:50%;

display:flex;
justify-content:center;
align-items:center;

font-size:70px;

background:

linear-gradient(
145deg,
#111,
#1a1a1a
);

border:

1px solid rgba(255,255,255,.08);

z-index:2;

box-shadow:

0 0 40px rgba(
125,
249,
255,
.15
);

}